/* dashboard.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.ServicesContainer{
    margin:0;
    padding:0;
}
.dashBoardColFirst {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.colorBackground{
    margin:50px 10px 0px;
    height:500px;
    border-radius: 20px;;
    background-color: #FAFAFA;

}

.ServicesColSecond {
    padding: 0;
}



/* Vertical navigation bar styles */
.navbar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height:250px;
    padding: 20px;
}
  
.navItem {
    margin-bottom: 10px;
    background-color: #FFFFFF;

    border-radius: 10px;
}

.navItem button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    width: 100%;
    border-radius: 5px;
    font-size: 15px; /* Adjust font size as needed */
    font-family: 'Poppins', sans-serif;
    color: #333333;
}


.navItem:hover {
    background-color: #e0e0e0;
}

.active {
    background-color: #003FA7; /* Change to the desired background color */
}
  
.active button {
    color: aliceblue;/* Add any additional styles for the active button */
}

.arrow{
    float:right;
}

/* Phones */
@media only screen and (max-width: 767px) {
    .navbar{
        flex-direction: row;
        width: 600px;
        height :auto;
        justify-content: center;
        align-items: center;
    } 

    .navItem button {
        width:190px;
        text-align: center;
    }

    .arrow{
        display: none;
    }
    

    .colorBackground{
        margin:50px 10px 0px;
        height:auto;
        border-radius: 20px;;
        background-color: #FAFAFA;
    
    }
}


/* Extra small devices (phones) */
@media (max-width: 576px) {
    .navbar{
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        width: auto;
        height :auto;
        justify-content: center;
        align-items: center;
        
    } 
}
