/* dashboard.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.dashboardConatiner {
  margin: 0;
  padding: 5px 10px 5px 10px;
}
.dashBoardColFirst {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorBackground {
  margin: 50px 10px 0px 10px;
  height: 500px;
  border-radius: 20px;
  background-color: #fafafa;
}

.dashBoardColSecond {
  padding-left: 50px;
}

/* dashboard.module.css */

.accountDisplay {
  margin: 25px 60px 20px;
  /*background-color: aliceblue;*/
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.accountInfo {
  width: 100%; /* Make the container fill the available width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center text horizontally */
}

.tmuLogo {
  width: 180px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Add spacing between logo and name */
}

.account {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.accountName {
  font-size: 20px; /* Adjust font size as needed */

  margin-bottom: 5px; /* Add spacing between name and email */
  font-family: "Poppins", sans-serif;
  color: #333333;
}

.accountEmail {
  font-size: 12px; /* Adjust font size as needed */
  font-family: "Poppins", sans-serif;
  color: #333333;
}

/* Vertical navigation bar styles */
.navbar {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  padding: 20px;
}

.navItem {
  margin-bottom: 10px;
  background-color: #ffffff;

  border-radius: 10px;
}

.navItem button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  width: 100%;
  border-radius: 5px;
  font-size: 15px; /* Adjust font size as needed */
  font-family: "Poppins", sans-serif;
  color: #333333;
}

.navItem:hover {
  background-color: #e0e0e0;
}

.active {
  background-color: #003fa7; /* Change to the desired background color */
}

.active button {
  color: aliceblue; /* Add any additional styles for the active button */
}

.arrow {
  float: right;
}

/*CSS FOR EDIT ACCOUNT*/
.EditAccountContainer {
  width: auto; /* Make the container fill the available width */
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.EditAccountHeading {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 30px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: #333333;
  margin: 45px 0px 10px 10px;
  width: 80%;
}

.EditAccountCard {
  width: 80%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: #ebe4e4;
  border-radius: 20px;
}

.EditAccountLabel {
  margin: 20px 10px 0px 20px;
  text-align: left;
  display: inline-flexbox; /* Make labels display as block elements */
  font-weight: 500; /* Make labels bold */
  color: #666666;
  font-family: "Poppins", sans-serif;
}

.EditAccountBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CSS FOR USER POSTS*/

.userPostsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 30px;
  margin: 60px 80px;
}

.userPostEditBtn {
  display: flex;
  flex-direction: column;
}

/*CSS FOR CHANGE PASSWORD*/

.changePassContainer {
  margin: 60px 80px;
  padding: 20px;
}

.changePassBtn button {
  margin: 20px;
  background-color: #003fa7;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

/*CSS FOR ADMIN USER TABLE*/

.TxtExchangeContainer {
  margin: 20px;
}

.searchBar {
  margin-top: 30px;
  width: 100%;
}

.UserTable {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-height: 80vh; /* Adjust the height as needed */
  overflow-y: auto;
}

/* CSS */
.exchangeBtn {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 90%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.exchangeBtn:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.exchangeBtn:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.exchangeBtn:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.exchangeBtn:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.exchangeBtn:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.exchangeBtn:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.exchangeBtn:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.exchangeBtn:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.editInput {
  margin: 0px;

  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsiveTable {
  width: 100%;

  tr {
    border-radius: 3px;
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .tableHeader {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .tableRow {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  th {
    justify-content: center;
    padding: 10px 0px 10px 0px;
  }

  .col-1 {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col-2 {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col-3 {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col-4 {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media all and (max-width: 767px) {
    .tableHeader {
      display: none;
    }

    li {
      display: block;
    }
    .col {
      flex-basis: 100%;
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}

/* Phones */
@media only screen and (max-width: 767px) {
  .navbar {
    flex-direction: row;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .navItem button {
    width: 160px;
    text-align: center;
  }

  .arrow {
    display: none;
  }

  .colorBackground {
    margin: 50px 10px 0px;
    height: auto;
    border-radius: 20px;
    background-color: #fafafa;
  }
}

/* Extra small devices (phones) */
@media (max-width: 576px) {
  .navbar {
    flex-direction: row;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(225px, 1fr));
  }

  .accountName {
    font-size: 10px;
  }
  .accountEmail {
    font-size: 1.25rem;
  }
}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 768px) {
  .accountName {
    font-size: 3rem;
  }
  .accountEmail {
    font-size: 1.5rem;
  }
}
