/* dashboard.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.HomeContainer{
    
    margin:0;
    padding:0;
}
.homeColFirst {
    margin: 10px 10px 10px 10px;
    padding: 0;
    
}


.homeColSecond {
    padding: 0;;
}

.searchBar{
  margin-top:30px;
  width:80%;
}


.filterCard{
  width:90%;
  margin: 10px 10px 5px 20px;
  padding:30px;
  border-radius: 20px;
  box-shadow: 0px 5px 7px rgba(4, 4, 4, 0.2); /* Adjust values as needed */
  background-color: #FAFAFA;
}
